{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>Редактирование пользователя</h3>
</div>

<div class="container">
    <div class="float-right mb-3">
        {{ include('category/_delete_form.html.twig') }}
    </div>
    <div class="container my-3 px-0">
        {{ include('security/_form.html.twig') }}
    </div>
</div>

{% endblock %}
