<h4>Коментарии ({{ commentsCount }})</h4>

{% if comments %}
    <ul class="list-unstyled">
        {% include "comment/commentTree.html.twig" with {'comments':comments} only %}
    </ul>
{% else %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="">
        Оставь первый комментарий
    </div>
    {% endif %}
{% endif %}

<hr>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if app.user.isBanned() %}
        <p class="text-danger">Вы забанены до {{ app.user.bannedUntil|date('Y/m/d') }} и не можете оставлять комментарии!</p>
    {% else %}
        {{ include('comment/_form.html.twig') }}
    {% endif %}
{% else %}
    <p class="text-muted"><a href="{{ path('app_login') }}">Зарегистрируйтесь</a>, чтобы иметь возможность писать комментарии!</p>
{% endif %}
