{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>{{ category.name }}</h3>
</div>

<div class="container">
    {{ include('category/_form.html.twig', {'button_label': 'Сохранить'}) }}
</div>
{% endblock %}
