{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{title}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>{{title}}</h3>
</div>

<div class="container">
	<p>HTML (от англ. HyperText Markup Language — «язык гипертекстовой разметки») — стандартизированный язык разметки
		документов во Всемирной паутине. Большинство веб-страниц содержат описание разметки на языке HTML (или XHTML).
		Язык HTML интерпретируется браузерами; полученный в результате интерпретации форматированный текст отображается
		на экране монитора компьютера или мобильного устройства. Не является языком программирования.<br />
		<br />
		Язык HTML до 5-й версии определялся как приложение SGML (стандартного обобщённого языка разметки по стандарту
		ISO 8879). Спецификации HTML5 формулируются в терминах DOM (объектной модели документа).<br />
		<br />
		Язык XHTML является более строгим вариантом HTML, он следует синтаксису XML и является приложением языка XML в
		области разметки гипертекста.<br />
		<br />
		Во всемирной паутине HTML-страницы, как правило, передаются браузерам от сервера по протоколам HTTP или HTTPS, в
		виде простого текста или с использованием шифрования.</p>
</div>

{% endblock %}