{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{title}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>{{title}}</h3>
</div>

<div class="container">
	<p>Bootstrap (также известен как Twitter Bootstrap) — свободный набор инструментов для создания сайтов и
		веб-приложений. Включает в себя HTML- и CSS-шаблоны оформления для типографики, веб-форм, кнопок, меток, блоков
		навигации и прочих компонентов веб-интерфейса, включая JavaScript-расширения.<br />
		<br />
		Bootstrap использует современные наработки в области CSS и HTML, поэтому необходимо быть внимательным при
		поддержке старых браузеров.</p>
	{% include '/blog/prevNextBtn.html.twig' %}
</div>

{% endblock %}