{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{title}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>{{title}}</h3>
</div>

<div class="container">
	<p>Model-View-Controller (MVC, «Модель-Представление-Контроллер», «Модель-Вид-Контроллер») — схема разделения данных
		приложения, пользовательского интерфейса и управляющей логики на три отдельных компонента: модель, представление
		и контроллер — таким образом, что модификация каждого компонента может осуществляться независимо.<br />
		<br />
		Модель (Model) предоставляет данные и реагирует на команды контроллера, изменяя своё состояние.<br />
		Представление (View) отвечает за отображение данных модели пользователю, реагируя на изменения модели.<br />
		Контроллер (Controller) интерпретирует действия пользователя, оповещая модель о необходимости изменений.</p>
	{% include '/blog/prevNextBtn.html.twig' %}
</div>

{% endblock %}