{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{title}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>{{title}}</h3>
</div>

<div class="container">
	<p>Бутстрэп, бутстрэппинг (англ. bootstrap, bootstrapping — «зашнуровка», иногда бутстреп, бутстреппинг) — название
	некоторых методов и процессов, содержащих принцип повторения и самоподдержки без воздействия извне, с использованием
	внутренних ресурсов.<br />
	<br />
	Bootstrap (фреймворк) — свободный набор HTML и CSS инструментов для создания сайтов и веб-приложений<br />
	Bootstrap Protocol (BOOTP) — сетевой протокол, используемый для автоматического получения клиентом IP-адреса, обычно
	во время загрузки компьютера.<br />
	Статистический бутстрэп (бутстреп, бутстрэппинг, англ. bootstrap, bootstrapping) — практический компьютерный метод
	определения статистик вероятностных распределений<br />
	Бутстрэппинг — способ финансирования небольших фирм посредством высокоэффективного приобретения и использования
	ресурсов без увеличения акционерного капитала из традиционных источников или заимствования средств в банках</p>
</div>

{% endblock %}