<div class="row">
    <div class="ml-auto mr-3">
        {% if previousPage %}
            <a class="btn btn-secondary" href="{{path('articleGet', {'id': previousPage})}}" role="button">Предыдущая статья</a>
        {% endif %}
    </div>
    <div class="mr-auto mr-3">
        {% if nextPage %}
            <a class="btn btn-secondary" href="{{path('articleGet', {'id': nextPage})}}" role="button">Следующая статья</a>
        {% endif %}
    </div>
</div>
