{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{title}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h3>О нас</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <p>Я обучаюсь в компьютерной школе Hillel на курсе PHP.</p>
                <p>Данный блог основан на фреймворке Symfony 4.2.4.</p>
                <p>Для создания контроллеров использовал консольную команду:</p> 
                <p class="badge-info">&nbsp;php bin/console make:controller&nbsp;</p>
                <p>Pоуты создавались автоматически с помощью аннотаций в контроллере:</p>
                <p class="badge-info">
                        &nbsp;&nbsp;/**<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;* @Route("/about-us", name="aboutUs")<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;*/
                </p>
                <p>Для создания сущностей использовал консольную команду:</p>
                <p class="badge-info">&nbsp;php bin/console make:entity&nbsp;</p>
                <p class="badge-info">&nbsp;php bin/console doctrine:schema:update --force&nbsp;</p>
                <p>Было создано 2 сущности Article и Category.</p>
                <p class="badge-info">&nbsp;php bin/console make:entity&nbsp;</p>
                <p>Для сущности Article создано свойство 'category', которое имеет тип MenyToOne и связано с сущностью Category.</p>
                <p>Созданы формы для Article и Category.</p>
                <p>Создан CRUD для статей и категорий:</p>
                <p class="badge-info">&nbsp;php bin/console make:crud&nbsp;</p>
        </div>
    </div>
</div>
{% endblock %}
