{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{title}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h3>О нас</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <p>Я обучаюсь в компьютерной школе Hillel.<p>
                <p>Курс PHP.<p>
                <p>Данное веб-приложении создал с целью изучения MVC-модели.<p>
        </div>
    </div>
</div>
{% endblock %}
