{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{title}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>MVC Blog</h1>
    <p>Блог построен на Symfony 4.2.4</p> 
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Возможности нашего блога:</h3>
            <div>
                <ul>
                    <li>Вывод списка статей</li>
                    <li>Вывод отдельной статьи</li>
                    <li>Создание статей</li>
                    <li>Редактирование статей</li>
                    <li>Удаление статей</li>
                    <li>Пагинация статей</li>
                    <li>Древовидные комментарии для статей</li>
                    <li>Регистрация пользователей</li>
                </ul>
            </div>
            <h3>Вскоре будет реализовано:</h3>
            <div>
                <ul>
                    <li>Лайки и дизлайки для статьи</li>
                </ul>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
