{% extends 'base.html.twig' %}

{% block title %}Hello CommonController!{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <h1>MVC Blog</h1>
    <p>Блог с использованием MVC модели</p> 
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Возможности нашего блога:</h3>
            <div>
                <ul>
                    <li>Вывод списка статей</li>
                    <li>Создание статей</li>
                    <li>Редактирование статей</li>
                    <li>Удаление статей</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
